# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [19]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [20]:
print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [21]:
baby_names = baby_names.drop(columns=['Unnamed: 0', 'Id'])

In [22]:
print(baby_names.head(10))

       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

### Step 6. Is there more male or female names in the dataset?

In [45]:
baby_names.Gender.value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [27]:
names = baby_names.groupby('Name')
print(names.head())

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1004923  Gryffin  2014      M    WI      5
1004950     Kroy  2014      M    WI      5
1004973     Owyn  2014      M    WI      5
1005707   Haylea  2005      F    WV      5
1012216  Coalton  2012      M    WV      7

[65502 rows x 5 columns]

### Step 8. How many different names exist in the dataset?

In [47]:
print(baby_names['Name'].nunique())

17632

### Step 9. What is the name with most occurrences?

In [48]:
most_occurrences = baby_names.sort_values(by='Count', ascending=False).head(1)
print(most_occurrences)

          Name  Year Gender State  Count
107416  Daniel  2004      M    CA   4167

### Step 10. How many different names have the least occurrences?

In [37]:
names = baby_names['Name'].value_counts()
least_occurrences = names[names == names.min()].count()
print(least_occurrences)

3682

### Step 11. What is the median name occurrence?

In [43]:
median_name = baby_names['Name'].value_counts().median()
print(median_name)

8.0

### Step 12. What is the standard deviation of names?

In [50]:
std_dev = baby_names['Name'].value_counts().std()
print(std_dev)

122.02996350814088

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [44]:
summary = names.describe()
print(summary)

count    17632.000000
mean        57.644907
std        122.029964
min          1.000000
25%          2.000000
50%          8.000000
75%         39.000000
max       1112.000000
Name: count, dtype: float64